@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --bg-card: #f8f9fe;
  --bt-btn: #382ae1;
  --bg-btn-active: #766cf1;
  --bg-body: #e0e8ff;
  --soft-color: #949db7;
  --strong-color: #223253;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--bg-body);
}

body .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-image: url(./images/pattern-background-desktop.svg);
  background-position: center;
  background-size: cover;
}

body .main-container .card-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #ffffff;
  border-radius: 14px;
}

body .main-container .card-wrapper img {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

body .main-container .card-wrapper .card-body {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

body .main-container .card-wrapper .card-body .card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: inherit;
  font-size: 24px;
}

body .main-container .card-wrapper .card-body .card-text h1 {
  color: var(--strong-color);
  font-weight: 900;
  font-size: 2rem;
}

body .main-container .card-wrapper .card-body .card-text p {
  color: var(--soft-color);
  font-size: 1rem;
}

body .main-container .card-wrapper .card-body .card-box {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  justify-content: center;
  background-color: var(--pale-blue);
  font-family: inherit;
}

body .main-container .card-wrapper .card-body .card-box img {
  width: 20%;
}

body .main-container .card-wrapper .card-body .card-box p {
  display: block;
  padding: 0.5em;
  padding-left: 1em;
  width: 60%;
  font-weight: bold;
}

body .main-container .card-wrapper .card-body .card-box p span {
  font-weight: lighter;
  color: var(--soft-color);
}

body .main-container .card-wrapper .card-body .card-box button {
  display: block;
  width: 20%;
  background-color: transparent;
  color: var(--bt-btn);
  border: none;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

body .main-container .card-wrapper .card-body .card-box button:hover {
  color: var(--bg-btn-active);
}

body .main-container .card-wrapper .card-body .card-btn {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
}

body .main-container .card-wrapper .card-body .card-btn #pay,
body .main-container .card-wrapper .card-body .card-btn #cancel {
  display: block;
  padding: 1em;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

body .main-container .card-wrapper .card-body .card-btn #pay {
  color: #fff;
  background-color: var(--bt-btn);
  border-radius: 10px;
  box-shadow: 0 0.5em 1em rgba(90, 80, 80, 0.5);
}

body .main-container .card-wrapper .card-body .card-btn #pay:hover {
  background-color: var(--bg-btn-active);
}

body .main-container .card-wrapper .card-body .card-btn #cancel {
  background-color: transparent;
  color: var(--soft-color);
}

body .main-container .card-wrapper .card-body .card-btn #cancel:hover {
  color: var(--strong-color);
}