@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
}

body .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-image: url(./images/pattern-background-desktop.svg);
  background-position: center;
  background-size: cover;
}

body .main-container .card-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: var(--very-pale-blue);
  border-radius: 14px;
  padding-left: 2.5em;
  padding-right: 2.rem;
}

body .main-container .card-wrapper img {
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

body .main-container .card-wrapper .card-body .card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: inherit;
  font-size: 24px;
}

body .main-container .card-wrapper .card-body .card-text h1 {
  color: var(--dark-blue);
  font-size: 2rem;
}

body .main-container .card-wrapper .card-body .card-text p {
  color: var(--desaturated-blue);
  font-size: 1rem;
}
